body {
    background-color: #ebe2d8;
    text-align: center;
    position: relative;
}

.button {
    color: #884c10;
    font-size: 35px;
    text-decoration: none;
    font-family: Rasputin;
    transition: text-shadow 0.3s;
}

.button:hover {
    text-shadow: 0 0 5px green;
}

.bottom {
    margin-top: 20px;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}
